body{
    background: rgba(178, 239, 253, 0.34);
}

.container {
    background: rgb(255, 255, 255);
}

.header {
    font-size: 23px;
    font-weight: 500;
    border-bottom: 2px solid rgba(154, 214, 255, 0.55);
    margin-bottom: 40px;
}

div {
    /border: 1px double black;
    padding: 5px; 
}

.content, .history {
    padding: 22px;
}

.footer {
    margin-top: 12px;
    height: 89px;
}









.cover img{
    max-width:100%;
    max-height:100%;
}

.cover-film img{
    height: 50px;
    width: 50px;
}

/*Проверь*/
.trailer iframe{
    height: 36vh;
    width: 100%;
    margin-left: -10px;
}
