body{
    background: #f3f3f3;
}

.container {
    background: rgb(255, 255, 255);
}

.header {
    background: #f3f3f3;
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 8px;
    margin-top: -5px;
}

div {
    border: 1px double black;
    padding: 5px; 
}

.main{
    border: 0.3px solid rgba(5, 5, 5, 0.09);
}

.content, .history {
    padding: 22px;
}

.footer {
    margin: 40px 0px 40px 0px; 
}









.cover img{
    max-width:100%;
    max-height:100%;
}

.cover-film img{
    height: 50px;
    width: 50px;
}

.header img {
    
    margin: 21px 0px 22px 29px;
    height: 33px;
    width: 123px;
}

/*Проверь*/
.trailer iframe{
    height: 36vh;
    width: 100%;
    margin-left: -10px;
}









.navigate a {
    margin: 12px;
    color: #848484;
    font-size: 19px;
    font-weight: 500;
}

.cover-book img {
    height: 50px;
    width: 50px;
}

.compilation-book {
    background: #f7f7f7;
    border: 1px solid #ffffff;
}

.compilation-book:hover {
    background: #9ccbf4;
    cursor: pointer;
    border-radius: 6px;
} 





.footer img{
    height: 31px;
    width: 100px;
}

.footer a {
    line-height: 23pt;
    font-weight: 500;
    color: #606680;
}

.footer span{
    color: #606680;
    font-weight: 500;
}