div {
    /border: 1px double black;
    padding: 5px; 
}

.header {
    margin-bottom: 40px;
}

.content, .history {
    padding: 22px;
}

.footer {
    margin-top: 12px;
    height: 89px;
}

.cover img{
    max-width:100%;
    max-height:100%;
}

.cover-film img{
    height: 50px;
    width: 50px;
}

/*Проверь*/
.trailer iframe{
    height: 36vh;
    width: 100%;
    margin-left: -10px;
}
